.root {
  margin: 0;
  font-size: calc(0.185vw + 0.84rem);
  line-height: 24px;
  text-align: center;
}
.light {
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.dark {
  color: #423B38;
}