.avarik-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    padding: 0.65rem 2rem;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: $font-family-sans-serif;
    z-index: 2;
    color: $primary;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    .side-left,
    .side-right {
        opacity: 0;
    }
    &.disabled {
        cursor: initial;
        pointer-events: none;
    }
    &:hover,
    &.dark {
        color: $white;
        border-top: 0.5px solid $brown-light;
        border-bottom: 0.5px solid $brown-light;
        .side-left,
        .side-right {
            transition: all 0.5s ease 0.25s;
            &.dark {
                opacity: 1;
            }
            &.light {
                opacity: 0;
            }
        }
        .overlay-dark {
            width: 100%;
            left: 0;
            transition: all 0.5s ease 0s;
        }
        .overlay {
            opacity: 0;
            left: 50%;
            transition: all 0.5s ease 0.25s;
            width: 0;
        }
    }
    &.dark {
        &:hover {
            .overlay {
                opacity: 0.25;
                left: 0;
                width: 100%;
            }
        }
    }
    &::after {
        content: "";
        height: 2px;
        background-color: rgba($primary, 0.5);
        position: absolute;
        bottom: -6px;
        width: 100%;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $brown-light;
        z-index: -1;
        transition: all 0s ease 0s;
    }
    .overlay-dark {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        transition: all 0.5s ease 0.25s;
        width: 0;
        background: $primary;
        z-index: -1;
    }
    .side-left {
        position: absolute;
        top: 0;
        transform: scaleX(-1);
        left: -21px;
        height: 118%;
        object-fit: contain;
        transition: all 0.5s ease 0s;
        &.light {
            opacity: 1;
        }
        &.dark {
            opacity: 0;
        }
    }
    .side-right {
        position: absolute;
        top: 0;
        transform: scaleX(-1);
        right: -21px;
        height: 118%;
        object-fit: contain;
        transition: all 0.5s ease 0s;
        &.light {
            opacity: 1;
        }
        &.dark {
            opacity: 0;
        }
    }
    &.w-100 {
        max-width: 90% !important;
    }
}
