.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(0.4vw + 93px) 16px calc(9vw + 121px) 16px;
  position: relative;

  .desc {
    width: 80%;
    min-width: 316px;
    max-width: 570px;
    margin-top: 2.6411658%;
  }
}

.shard {
  width: calc(10vw + 1.6px);
  height: calc(8vw + 1.6px);
  position: absolute;
  right: calc(-13.5vw + 312px);
  top: calc(1.8vw + 29px);
}