.acf-download {
  .cover-body {
    padding-bottom: 0 !important;
    @include media-breakpoint-up(md) {
      padding-top: 2.5rem !important;
      .col-img {
        padding-right: 3rem;
      }
    }
  }
  .col-text {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(sm) {
      align-items: center;
      text-align: center;
      margin-bottom: 2.5rem;
    }
    @include media-breakpoint-up(md) {
      justify-content: center;
      margin-bottom: 1.25rem;
    }
    .btn-group {
      display: flex;
      a {
        margin-right: 1rem;
        img {
          max-width: 150px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
