// // Column Variation
// .label-value-list {
//   .label-value-item {
//     .label {
//       margin-bottom: 0.25rem;
//     }
//     .value {
//       margin-bottom: 0;
//       @extend .h4;
//     }
//   }
// }

// Row Variation
.label-value-list {
  .row {
    display: block;
    .label-value-item {
      display: flex;
      margin-bottom: 0.5rem;
      .label {
        margin-bottom: 0;
        min-width: 100px;
      }
      .value {
        margin-bottom: 0;
      }
    }
  }
}
