.title-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: fit-content;
    .left,
    .right {
        width: 15%;
        object-fit: contain;
    }
    .logo {
        position: absolute;
        width: 25%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    h1 {
        margin-bottom: 0;
    }
}