// ░█▀▀▄ ░█▀▀▀█ 　 ░█▄─░█ ░█▀▀▀█ ▀▀█▀▀ 　 ░█▀▀▀ ░█▀▀▄ ▀█▀ ▀▀█▀▀
// ░█─░█ ░█──░█ 　 ░█░█░█ ░█──░█ ─░█── 　 ░█▀▀▀ ░█─░█ ░█─ ─░█──
// ░█▄▄▀ ░█▄▄▄█ 　 ░█──▀█ ░█▄▄▄█ ─░█── 　 ░█▄▄▄ ░█▄▄▀ ▄█▄ ─░█──
// Override style on .modal-custom.scss instead
// unless you want to upgrade the component version

// ========================================================================================================================================
// Modal
// ========================================================================================================================================

.ReactModal__Overlay {
  z-index: $zindex-modal-backdrop;
  background: rgba($black, 0.4) !important;
  outline: none !important;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.ReactModal__Overlay--after-open {
    animation: fadeIn 0.2s $ease-cubic-bezier;
    opacity: 1;
  }
  &.ReactModal__Overlay--before-close {
    animation: fadeOut 0.2s $ease-cubic-bezier;
    opacity: 0;
  }
  .ReactModal__Content {
    outline: none !important;
    background: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    position: relative !important;
    width: auto !important;
    padding: 0 !important;
    inset: initial !important;
    z-index: $zindex-modal;
    margin: 0.5rem;
    pointer-events: none;
    transform: translate(0, 0);
    width: 100%;
    // Centered by default
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
    &::-webkit-scrollbar {
      display: none; // Remove scrollbar
    }
    @include media-breakpoint-up(sm) {
      max-width: 500px;
      margin: 1.75rem auto;
    }
    // Utilities classes for ReactModal__Content
    &.modal-md {
      @include media-breakpoint-up(md) {
        max-width: 650px !important;
      }
    }
    &.modal-lg {
      @include media-breakpoint-up(md) {
        max-width: 650px !important;
      }
      @include media-breakpoint-up(lg) {
        max-width: 850px !important;
      }
    }
    &.modal-xl {
      @include media-breakpoint-up(md) {
        max-width: 650px !important;
      }
      @include media-breakpoint-up(lg) {
        max-width: 850px !important;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1000px !important;
      }
    }
    &.modal-xxl {
      @include media-breakpoint-up(md) {
        max-width: 650px !important;
      }
      @include media-breakpoint-up(lg) {
        max-width: 850px !important;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1000px !important;
      }
      @include media-breakpoint-up(xxl) {
        max-width: 1200px !important;
      }
    }
  }
}

// Modal wrapper padding (by default based by .p-box
// Set these variables to set padding and modal close position automatically
$modal-padding-sm: 1.5rem;
$modal-padding-lg: 2rem;

.modal-wrapper {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  outline: 0;
  .close {
    float: none;
    text-shadow: none;
    font-weight: $font-weight-normal;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    top: $modal-padding-sm;
    right: $modal-padding-sm;
    margin-top: -($modal-padding-sm / 2);
    margin-right: -($modal-padding-sm / 2);
    z-index: 1;
    @include media-breakpoint-up(md) {
      top: $modal-padding-lg;
      right: $modal-padding-lg;
      margin-top: -($modal-padding-lg / 2);
      margin-right: -($modal-padding-lg / 2);
    }
    @include hover-focus-active {
      opacity: 1 !important;
    }
  }
  .modal-body {
    padding: 0;
    .modal-content {
      border: none;
      padding: $modal-padding-sm;
      box-shadow: none;
      @include media-breakpoint-up(md) {
        padding: $modal-padding-lg;
      }
    }
  }
  .modal-title {
    margin-bottom: 0.5rem;
    line-height: $headings-line-height;
  }
}
