.sc-notfound {
    height: 100vh !important; // fallback option
    height: calc(var(--vh, 1vh) * 100) !important;
    h1 {
        font-size: 10rem;
        @include media-breakpoint-down(md) {
            font-size: 5rem;
        }
    }
}
