.sc-vesting-avrk-main {
    position: relative;
    background: url("../../img/common/bg_hold-to-earn-2.jpeg") no-repeat center center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        background: url("../../img/common/bg_hold-to-earn-mobile.jpeg") no-repeat center center;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: $black, $alpha: 0.25);
    }
    .heading {
        margin-bottom: 2.5rem;
        .title-wrapper {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }
    .box {
        position: relative;
        background: $brown-light;
        border: 0.5rem solid $brown-alt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        padding-bottom: 2.5rem;
        height: 250px;
        max-width: 90%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 99%;
            height: 98%;
            border: 2px solid $brown-alt;
        }
        .label {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-semibold;
        }
        .value {
            color: $dark;
        }
        .avrk {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-light;
        }
        .avarik-button {
            margin-left: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .side-left {
                left: -21px;
            }
            .side-right {
                right: -20px;
            }
            &::after {
                bottom: -7px;
            }
        }
        &.box-schedule {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 95% !important;
            .title {
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                text-align: left;
            }
            .progress-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .label {
                    font-family: $font-family-sans-serif;
                    font-weight: $font-weight-normal;
                    margin-bottom: 0;
                    strong {
                        font-family: $font-family-din;
                    }
                }
                .progress-box {
                    font-family: $font-family-sans-serif;
                    background: $green-light;
                    padding: 0.5rem;
                    border-radius: $border-radius-sm;
                    color: $white;
                }
            }
            hr {
                width: 100%;
                border-top: 2px solid $brown-alt;
            }
            .vesting-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .label {
                    margin-bottom: 0.5rem;
                }
                .value {
                    font-weight: $font-weight-bold;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

.sc-staking-avrk-main {
    position: relative;
    background: url("../../img/common/bg_hold-to-earn-2.jpeg") no-repeat center center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        background: url("../../img/common/bg_hold-to-earn-mobile.jpeg") no-repeat center center;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: $black, $alpha: 0.25);
    }
    .heading {
        margin-bottom: 2.5rem;
        .title-wrapper {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }
    .box {
        position: relative;
        background: $brown-light;
        border: 0.5rem solid $brown-alt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        padding-bottom: 2.5rem;
        height: 250px;
        max-width: 90%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 99%;
            height: 98%;
            border: 2px solid $brown-alt;
        }
        .label {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-semibold;
        }
        .value {
            color: $dark;
        }
        .avrk {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-light;
        }
        .avarik-button {
            margin-left: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .side-left {
                left: -21px;
            }
            .side-right {
                right: -20px;
            }
            &::after {
                bottom: -7px;
            }
        }
        &.box-market {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 95% !important;
            .title {
                font-weight: $font-weight-bold;
                margin-bottom: 1rem;
            }
            .market-header {
                width: 95%;
                font-family: $font-family-sans-serif;
            }
            hr {
                width: 100%;
                border-top: 2px solid $brown-alt;
            }
            .market-content {
                width: 95%;
                .row {
                    margin-bottom: 1rem;
                    align-items: center;
                    div {
                        font-weight: $font-weight-bold;
                        color: $primary;
                        .btn {
                            border-radius: $border-radius-sm;
                        }
                        img {
                            max-width: 15%;
                        }
                    }
                }
            }
        }
    }
}
