.sc-vesting-avrk-main {
    position: relative;
    background: url("../../img/common/bg_hold-to-earn-2.jpeg") no-repeat center center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        background: url("../../img/common/bg_hold-to-earn-mobile.jpeg") no-repeat center center;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: $black, $alpha: 0.25);
    }
    .heading {
        margin-bottom: 2.5rem;
        .title-wrapper {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }
    .box {
        position: relative;
        background: $brown-light;
        border: 0.5rem solid $brown-alt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        // padding-bottom: 2.5rem;
        height: 250px;
        max-width: 90%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 99%;
            height: 98%;
            border: 2px solid $brown-alt;
        }
        .label {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-semibold;
        }
        .value {
            color: $dark;
        }
        .avrk {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-light;
        }
        .avarik-button {
            margin-left: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .side-left {
                left: -21px;
            }
            .side-right {
                right: -20px;
            }
            &::after {
                bottom: -7px;
            }
        }
        .ornamen {
            margin-bottom: 1rem;
            padding-top: 0.75rem;
        }
        &.box-unclaimed {
            margin-left: auto;
            margin-right: auto;
        }
        &.box-schedule {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 95% !important;
            .title {
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                text-align: left;
            }
            .progress-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .label {
                    font-family: $font-family-sans-serif;
                    font-weight: $font-weight-normal;
                    margin-bottom: 0;
                    strong {
                        font-family: $font-family-din;
                    }
                }
                .progress-box {
                    font-family: $font-family-sans-serif;
                    background: $green-light;
                    padding: 0.5rem;
                    border-radius: $border-radius-sm;
                    color: $white;
                }
            }
            hr {
                width: 100%;
                border-top: 2px solid $brown-alt;
            }
            .vesting-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .label {
                    margin-bottom: 0.5rem;
                }
                .value {
                    font-weight: $font-weight-bold;
                    line-height: 1.5rem;
                }
            }
        }
        &.box-balance {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            h1,
            p {
                margin-bottom: 0;
            }
        }
    }
}

.sc-staking-avrk-main {
    position: relative;
    background: url("../../img/common/bg_hold-to-earn-2.jpeg") no-repeat center center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        background: url("../../img/common/bg_hold-to-earn-mobile.jpeg") no-repeat center center;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: $black, $alpha: 0.25);
    }
    .heading {
        margin-bottom: 2.5rem;
        .title-wrapper {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }
    .box {
        position: relative;
        background: $brown-light;
        border: 0.5rem solid $brown-alt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        // padding-bottom: 2.5rem;
        height: 250px;
        max-width: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 99%;
            height: 98%;
            border: 2px solid $brown-alt;
        }
        .label {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-semibold;
        }
        .value {
            color: $dark;
        }
        .avrk {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-light;
        }
        .ornamen {
            margin-bottom: 1rem;
            padding-top: 0.75rem;
        }
        &:not(.box-unclaimed):not(.box-staked) {
            .avarik-button {
                margin-left: 0;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                .side-left {
                    left: -21px;
                }
                .side-right {
                    right: -20px;
                }
                &::after {
                    bottom: -7px;
                }
            }
        }
        &.box-balance {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            .label {
                margin-bottom: 0;
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-semibold;
            }
            .value {
                margin-bottom: 0;
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                font-size: 1.25rem;
            }
        }
        &.box-staked,
        &.box-earned {
            margin-bottom: 1rem;
        }
        &.box-market {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .title {
                font-weight: $font-weight-bold;
                margin-bottom: 1rem;
            }
            .market-header {
                width: 95%;
                font-family: $font-family-sans-serif;
            }
            hr {
                width: 100%;
                border-top: 2px solid $brown-alt;
            }
            .market-content {
                width: 95%;
                .row {
                    margin-bottom: 1rem;
                    align-items: center;
                    div {
                        font-weight: $font-weight-bold;
                        color: $primary;
                        .btn {
                            border-radius: $border-radius-sm;
                        }
                        img {
                            max-width: 15%;
                        }
                    }
                }
            }
        }
    }
    .sc-stake-avrk {
        .box {
            width: 100%;
            height: fit-content;
            justify-content: flex-start;
            &::before {
                z-index: 0;
            }
            .stake-tabs-wrapper {
                z-index: 1;
                width: 100%;
                .stake-tabs {
                    justify-content: center;
                    border: 1px solid $primary;
                    padding: 0.25rem;
                    .nav-item {
                        width: 50%;
                        .nav-link {
                            text-align: center;
                            font-family: $font-family-sans-serif;
                            &.active {
                                background: $brown-alt;
                            }
                        }
                    }
                }
            }
            .stake-tabs-content {
                width: 100%;
                margin-top: 2.5rem;
                .input-stake-wrapper {
                    position: relative;
                    height: 50px;
                    margin-bottom: 1rem;
                    .input-stake {
                        position: absolute;
                        width: 100%;
                        .form-control-wrapper {
                            input {
                                background: rgba($color: $black, $alpha: 0);
                                border: 1px solid $primary;
                                font-weight: $font-weight-bold;
                                font-size: 1.125rem;
                            }
                        }
                    }
                    span {
                        position: absolute;
                        right: 1rem;
                        bottom: 50%;
                        transform: translateY(50%);
                        cursor: pointer;
                    }
                }
                .warning-text {
                    text-align: center;
                    margin-top: 1.5rem;
                }
                .avarik-button {
                    margin-left: 28px;
                }
                .lock-slider {
                    color: $primary;
                    .MuiSlider-rail {
                        height: 0.25rem;
                        border-radius: $border-radius-sm;
                    }
                    .MuiSlider-track {
                        border-radius: $border-radius-sm;
                        height: 0.25rem;
                    }
                    .MuiSlider-thumb {
                        transform: rotate(45deg);
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
.sc-before-connect-staking,
.sc-before-connect-vesting {
    position: relative;
    background: $primary;
    padding-top: $navbar-main-height-mobile;
    @include media-breakpoint-up($navbar-expand-up) {
        padding-top: $navbar-main-height-desktop;
    }
    .overlay {
        z-index: 1;
        inset: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: $black, $alpha: 0.35);
    }
    .cover {
        height: 750px;
        @include media-breakpoint-down(sm) {
            height: 850px;
        }
        .react-parallax-content {
            height: 100%;
        }
    }
    .container {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        height: 100%;
        @include media-breakpoint-down(sm) {
            align-items: flex-start;
        }
    }
    .col-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
        @include media-breakpoint-up(md) {
            align-items: flex-start;
        }
        .title-wrapper {
            h1 {
                @extend .h2;
            }
        }
        .avarik-button {
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
        }
    }
    .col-img {
        position: relative;
        text-align: center;
        @include media-breakpoint-down(sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .img-hold-to-earn {
            width: 90%;
        }
    }
    .heading {
        img {
            width: 150px;
            @include media-breakpoint-up(md) {
                width: 200px;
            }
        }
    }
}
.sc-faq {
    position: relative;
    background-color: $brown-light;
    height: 500px;
    z-index: 2;
    @include media-breakpoint-down(sm) {
        height: 550px;
    }
    .bg {
        position: absolute;
        width: 110%;
        height: auto;
        top: -5%;
        object-fit: cover;
        @include media-breakpoint-up(xl) {
            height: 175%;
            top: -22%;
            object-fit: fill;
        }
    }
    .title {
        color: $primary;
    }
    .faq-accordion {
        background-color: rgba($black, 0);
        color: $dark;
        border-top: 2px solid !important;
        border-image: linear-gradient(
                270deg,
                rgba($black, 0.1) 5.67%,
                rgba($black, 0.9) 50.42%,
                rgba($black, 0.1) 94.6%
            )
            100% 0 !important;
    }
}
