.sc-class-main {
    height: 100vh !important; // fallback option
    height: calc(var(--vh, 1vh) * 100) !important;
    background-size: cover !important;
    transition: all 0.5s;
    position: relative;
    transition: all 0.5s ease;
    background: url("../../img/common/bg_class.png") no-repeat center center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    position: relative;
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .row {
            .col-text {
                position: relative;
                text-align: center;
                padding: 3rem 3rem;
                @include media-breakpoint-down(sm) {
                    padding: 1rem;
                }
                .title-wrapper {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                    .left,
                    .right {
                        width: 15%;
                        object-fit: contain;
                    }
                    .logo {
                        position: absolute;
                        width: 25%;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                    h1 {
                        margin-bottom: 0;
                    }
                }
            }
            .col-img {
                display: flex;
                justify-content: space-around;
                position: relative;
                .img-char {
                    width: 25%;
                    cursor: pointer;
                }
            }
        }
    }
}