//
// Stake
//

.bd-collect-in-game-currency {
    .container {
        @include media-breakpoint-down(xs) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    p {
        color: $dark;
    }
}

.sc-collect-in-game-curency-main {
    position: relative;
    background: url("../../img/common/bg_hold-to-earn-2.jpeg") no-repeat center center;
    background-size: cover;
    .heading {
        .title-wrapper {
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }
    .col-image {
        @include media-breakpoint-down(md) {
            margin-bottom: 1.25rem;
            .row {
                margin-left: -0.25rem;
                margin-right: -0.25rem;
                .col-6 {
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                }
            }
        }
        .col-6:nth-child(1),
        .col-6:nth-child(2) {
            margin-bottom: 1.25rem;
            @include media-breakpoint-down(md) {
                margin-bottom: 0.5rem;
            }
        }
        .img-wrapper {
            position: relative;
            .img-flag {
                z-index: 2;
                position: absolute;
                width: 37.5px;
                left: 0.5rem;
                top: 0.25rem;
                opacity: 0;
                transition: $transition-base;
            }
            @include hover {
                .img-flag {
                    opacity: 1;
                }
            }
        }
    }
    .col-forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heading {
            margin-bottom: 0.75rem;
        }
        .btn-stake {
            border: 1px solid rgba($white, 0.5);
            padding: 0.125rem;
            .btn {
                padding: 1rem;
                font-size: 1.125rem;
                @extend .hover-blockRight;
                &:disabled,
                .disabled {
                    color: $gray-400;
                    background: $gray-100;
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .stake-data {
            border: 1px solid rgba($body-color, 0.5);
            padding: 0.5rem 0.1rem;
            color: $body-color;
            text-align: center;
            display: flex;
            // justify-content: space-between;
            align-items: center;
            font-size: 1.25rem;
            flex-wrap: wrap;
            .card-item-token {
                margin-bottom: 1rem;
                cursor: pointer;
                .col-body {
                    height: 20px;
                    .card-body {
                        padding: 0;
                        .card-text {
                            font-size: 0.625rem;
                        }
                    }
                }
            }
            &.earned {
                width: 100%;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                justify-content: space-between;
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
                .label,
                .value {
                    color: $dark;
                    margin-bottom: 0;
                    // font-size: 1rem;
                    small {
                        font-size: 0.875rem;
                    }
                }
                .label {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        .stake-total {
            padding: 1rem;
            color: $body-color;
            font-size: 1.25rem;
            color: $body-color;
            display: flex;
            justify-content: space-between;
            .col-left {
                display: flex;
                align-items: center;
                text-transform: lowercase;
                color: rgba($body-color, 0.875);
            }
            .col-right {
                display: flex;
                align-items: center;
                strong {
                    font-weight: $font-weight-bold;
                    font-size: 1.375rem;
                    display: inline-block;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .box-hold-to-earn {
        min-height: 250px;
        position: relative;
        width: 100%;
        background-color: $brown-light;
        padding: 1rem;
        border: 5px solid $brown-alt;
        .border {
            position: absolute;
            width: 99%;
            height: 98%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border: 2px solid $brown-alt !important;
        }
        hr {
            border: none !important;
            margin: 0;
            height: 3px;
            background: linear-gradient(
                270deg,
                rgba(255, 255, 255, 0) 5.67%,
                rgba($black, 0.9) 50.42%,
                rgba(255, 255, 255, 0) 94.6%
            );
        }
        .staked-empty {
            padding: 2.5rem;
            p {
                color: $dark;
                font-size: 1.25rem;
            }
            .avarik-button {
                width: 85%;
            }
        }
        .box-earned {
            p {
                font-size: 1rem;
                text-align: center;
            }
            .earned {
                display: flex;
                justify-content: space-between;
                color: $dark;
                padding-top: 1rem;
                padding-bottom: 1rem;
                .label {
                    font-family: $font-family-sans-serif;
                }
                .value {
                    font-family: $font-family-sans-serif;
                    .strong {
                        font-family: $font-family-hk-grotesk;
                    }
                }
            }
        }
        &.box-rewards {
            position: relative;
            .empty {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 2rem;
                padding-bottom: 2rem;
                .label {
                    font-size: 1.25rem;
                }
            }
            .avarik-button {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 3rem;
                margin-left: auto;
                margin-right: auto;
                width: 300px;
                z-index: 2;
            }
        }
    }
}

.modal-stake {
    .modal-stake-icon {
        max-width: 10%;
        height: auto;
        margin-bottom: 1rem;
    }
    .modal-stake-teaser {
        img {
            width: 100%;
        }
    }
    .card-item-token {
        margin-bottom: 1rem;
        cursor: pointer;
        .col-body {
            height: 20px;
            .card-body {
                padding: 0;
                .card-text {
                    font-size: 0.625rem;
                    text-align: center;
                    color: $body-color-secondary;
                }
            }
        }
    }
}

.modal-wallet {
    text-align: center;
    .btn {
        border: 1px solid rgba($black, 0.5);
        padding: 0.125rem;
        min-width: 275px;
        @include hover-focus-active {
            box-shadow: none;
            background: $white;
        }
        + .btn {
            margin-top: 0.5rem;
        }
        .btn-inner {
            border: 1px solid rgba($black, 0.25);
            padding: 1rem 2rem;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            max-width: 200px;
        }
        &.metamask {
            img {
                max-width: 170px;
            }
        }
    }
}
.sc-before-connect {
    position: relative;
    background: $primary;
    padding-top: $navbar-main-height-mobile;
    @include media-breakpoint-up($navbar-expand-up) {
        padding-top: $navbar-main-height-desktop;
    }
    .cover {
        height: 750px;
        @include media-breakpoint-down(sm) {
            height: 850px;
        }
        .react-parallax-content {
            height: 100%;
        }
    }
    .container {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .col-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
        @include media-breakpoint-up(md) {
            align-items: flex-start;
        }
        .avarik-button {
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
            @include media-breakpoint-up(md) {
                font-size: 1.25rem;
                margin-bottom: 0;
            }
        }
    }
    .img-hold-to-earn {
        width: 90%;
    }
    .heading {
        img {
            width: 150px;
            @include media-breakpoint-up(md) {
                width: 200px;
            }
        }
    }
}
.sc-frequently-asked-question {
    position: relative;
    background-color: rgba($black, 1);
    .bg {
        position: absolute;
        width: 100%;
        height: 115%;
        top: -15%;
        object-fit: cover;
        @include media-breakpoint-up(xl) {
            object-fit: fill;
        }
    }
    .title {
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }
    .faq-accordion {
        background-color: rgba($black, 0);
        color: $dark;
        border-top: 2px solid !important;
        border-image: linear-gradient(
                270deg,
                rgba($black, 0.1) 5.67%,
                rgba($black, 0.9) 50.42%,
                rgba($black, 0.1) 94.6%
            )
            100% 0 !important;
    }
}
.loading-modal {
    display: flex;
    justify-content: center;
    .modal-wrapper {
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: fit-content;
        .modal-content {
            background: transparent;
        }
        .close {
            display: none;
        }
        .loader {
            &.loader-stake-spinner {
                width: fit-content;
                height: fit-content;
                position: unset;
                .img-spinner-wrapper {
                    // animation: loaderSpinner infinite 0.5s ease-in-out both;
                    visibility: visible; // Prevent flashing element
                    .img-spinner {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        animation: spin 1s linear;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
}
