//
// Common
//

.box {
  border: 0.125rem solid rgba($white, 0.5);
  padding: 0.125rem;
  .box-inner {
    border: 1px solid rgba($white, 0.5);
    padding: 0.25rem;
    .content {
      padding: 1rem;
      @include media-breakpoint-up(md) {
        padding: 2rem;
      }
      @include media-breakpoint-up(xl) {
        padding: 3rem;
      }
    }
  }
  .img-wrapper {
    border: 1px solid rgba($white, 0.5);
    padding: 0.25rem;
  }
  &.box-light {
    background: $white url(../../img/common/bg_paper-texture.jpg) repeat;
    background-size: 200px;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $body-color;
    }
    p {
      color: rgba($body-color, 0.75);
      strong {
        color: $body-color;
      }
    }
    .box-inner {
      border: 1px solid rgba($body-color, 1);
      .content {
        background: transparent;
      }
    }
    .img-wrapper {
      border: 1px solid rgba($body-color, 0.5);
    }
  }
}

.mint-counter {
  padding: 1rem 0;
  border-bottom: 1px solid rgba($body-color, 0.5);
  .counter-wrapper {
    display: flex;
    align-items: flex-end;
    .counter {
      width: 100%;
      height: 48px;
      background: transparent;
      position: relative;
      border-radius: $border-radius;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-up(md) {
        height: 56px;
      }
      h4 {
        color: $body-color;
        pointer-events: none;
      }
      .counter-button {
        position: absolute;
        background: $primary;
        height: 100%;
        border: 1px solid darken($primary, 5%);
        width: 48px;
        top: 0;
        cursor: pointer;
        transition: $transition-base;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $body-color;
        font-weight: $font-weight-bold;
        @include media-breakpoint-up(md) {
          width: 56px;
        }
        @include hover-focus-active {
          background: darken($primary, 2.5%);
          border: 1px solid darken($primary, 7.5%);
          &:after {
            // transform: scale(1.05);
            color: $white;
          }
        }
        &:after {
          font-family: "Anti Icons Solid";
          color: $white;
          transition-property: all;
          transition-duration: 0.2s;
          transition-timing-function: linear;
        }
        &.left {
          left: 0;
          &:after {
            content: var($ai-minus);
          }
        }
        &.right {
          right: 0;
          &:after {
            content: var($ai-plus);
          }
        }
        &:active {
          background: darken($body-color, 5%);
          // &:after {
          //   transform: scale(1.2);
          // }
        }
        &.disabled {
          background: $gray-300;
          border-color: $gray-300;
          cursor: default;
          color: $gray-600;
        }
      }
      h4 {
        margin-bottom: 0;
      }
    }
  }
}

.alert {
  text-align: center;
  color: $body-color;
  font-size: 0.9rem;
  text-transform: lowercase;
  padding: 0.25rem;
  div {
    display: inline-block;
  }
  strong {
    margin: 0 0.125rem;
    letter-spacing: 0.5px;
  }
  .alert-content {
    border: 1px solid rgba($body-color, 0.5);
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.help-text {
  text-align: center;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  a {
    color: $white;
    @extend .hover-underline;
    &:before {
      background: $white;
      bottom: -0.25rem;
      height: 1px;
    }
    @include hover-focus-active {
      color: $white;
    }
  }
}

.modal-mint {
  .help-link {
    color: $primary;
    @extend .hover-underline;
    &:before {
      background: $primary;
      bottom: -0.125rem;
      height: 1px;
    }
    @include hover-focus-active {
      color: $primary;
    }
  }
}

.sc-main {
  .logo {
    display: block;
    max-width: 200px;
    text-align: center;
    margin: -1.5rem auto 1.5rem;
    @include media-breakpoint-up(md) {
      max-width: 400px;
    }
  }
  .box {
    padding: 0.125rem;
    margin-bottom: 0.5rem;
    .box-inner {
      padding: 0.25rem;
      .content {
        padding: 1.25rem;
        @include media-breakpoint-up(md) {
          padding: 2.5rem;
        }
      }
    }
    .img-wrapper {
      padding: 0.25rem;
    }
  }
}

// Rarity
.sc-rarity {
  .box {
    margin-bottom: 1rem;
    .box-inner {
      .content {
        color: $white;
        .col-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    .img-wrapper {
      background: rgba($black, 0.5);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.box-rarity {
      .box-inner {
        .content {
          position: relative;
          &:before {
            animation: cameraPan 75s infinite;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: "";
          }
        }
      }
      &.box-knight {
        .box-inner {
          .content {
            &:before {
              background: $black url(../../../assets/img/knights/bg_mobile.jpg)
                no-repeat center center;
              background-size: cover;
              @include media-breakpoint-up(md) {
                background: $black
                  url(../../../assets/img/knights/bg_desktop.jpg) no-repeat
                  center center;
              }
            }
            .image {
              &:after {
                background: $purple;
              }
            }
          }
        }
      }
      &.box-wizard {
        .box-inner {
          .content {
            &:before {
              background: $black url(../../../assets/img/wizards/bg_mobile.jpg)
                no-repeat center center;
              background-size: cover;
              @include media-breakpoint-up(md) {
                background: $black
                  url(../../../assets/img/wizards/bg_desktop.jpg) no-repeat
                  center center;
              }
            }
            .image {
              &:after {
                background: $blue;
              }
            }
          }
        }
      }
      &.box-marksman {
        .box-inner {
          .content {
            &:before {
              background: $black url(../../../assets/img/marksmen/bg_mobile.jpg)
                no-repeat center center;
              background-size: cover;
              @include media-breakpoint-up(md) {
                background: $black
                  url(../../../assets/img/marksmen/bg_desktop.jpg) no-repeat
                  center center;
              }
            }
            .image {
              &:after {
                background: $green;
              }
            }
          }
        }
      }
    }
  }

  h3 {
    img {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 0.5rem;
      @include media-breakpoint-up(md) {
        width: 24px;
        height: 24px;
        margin-bottom: 1rems;
      }
    }
  }
  p {
    @include media-breakpoint-up(md) {
      font-size: 0.8rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 0.9rem;
    }
  }
}
