.sc-factions-main {
    height: 100vh !important; // fallback option
    height: calc(var(--vh, 1vh) * 100) !important;
    background-size: cover !important;
    transition: all 0.5s;
    &.ignis {
        background: url("../../img/factions/ignis-bg.png") no-repeat center center;
    }
    &.glacia {
        background: url("../../img/factions/glacia-bg.png") no-repeat center center;
    }
    &.terra {
        background: url("../../img/factions/terra-bg.png") no-repeat center center;
    }
    &.tenebris {
        background: url("../../img/factions/tenebris-bg.png") no-repeat center center;
    }
    position: relative;
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .col-text {
            width: 40%;
            .label {
                color: $orange-light;
            }
            .title,
            .description {
                color: $white;
            }
            .title {
                font-size: 2.5rem;
            }
        }
        .col-img {
            display: flex;
            justify-content: center;
            .flag-factions {
                max-height: 300px;
            }
        }
        .row-indicator {
            position: absolute;
            bottom: 2.5rem;
            width: 90%;
            justify-content: space-between;
            .indicator-img {
                width: 75px;
                object-fit: contain;
            }
        }
    }
}
