.sc-gallery {
  .bg-gallery {
    z-index: -1;
  }

  .img-wrapper {
    border: 1px solid rgba($brown-light, 0.5);
    padding: 0.25rem;
    padding-bottom: 0px;
    margin-bottom: 0.5rem;
    max-width: 175px;
  }

  .box-nft {
    margin: 6px;
    cursor: pointer;
    min-height: 200px;
    max-width: 175px;
  }

  .content-images {
    padding-left: 3%;
    padding-top: 3%;
    height: 80vh;
    overflow-y: auto;
  }

  .box-drawer {
    min-height: 80vh;
    position: absolute;
    height: 100%;
    z-index: 200;
    margin-top: 3%;
    padding-right: 3%;
    margin-bottom: 3%;
    overflow-y: auto;

  }

  .header-content {
    padding-left: 3%;
    padding-right: 6%;

  }

  // .MuiButtonBase-root .MuiAccordionSummary-root .Mui-expanded .MuiAccordionSummary-gutters {
  //     background: hotpink !important;
  // }

  .modal-gallery {
    // background-image: url("/assets/img/gallery/modal/gallery-modal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 800px;
    max-width: 890px;
    width: 100%;
    padding: 3%;

  }

  .filter-title-box {
    padding-right: 100px !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}


.framerchar {
  position: relative;

  .frame {
    width: 100% !important;
    position: relative;
  }

  .img-char {
    position: absolute;

  }
}