//
// Home
//

$home-anim-cover-delay: 0s; // default 2.5s
$home-anim-delay: 1s; // default 3s

@import "./home-modal";

.navbar {
  animation: fadeInDown 1s #{$home-anim-delay + 0.2s} ease-in-out both;
}

.bd-home {
  background: $black;
  .container {
    @media (min-width: 2000px) {
      max-width: 1560px;
    }
  }
}

// Cover
.sc-home-cover {
  .cover-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    bottom: 10%;
    z-index: 2;
    @include media-breakpoint-up(md) {
      width: 600px;
      top: 30%;
      margin-left: -300px;
      margin-top: -70px;
    }
    @media (min-width: 2000px) {
      width: 900px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .cover-logo {
      animation: fadeInUp 1s #{$home-anim-delay + 0s} ease-in-out both;
      width: 100%;
      margin-bottom: 1.25rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 2rem;
      }
    }
  }
  .cta-content {
    animation: fadeInUp 1s #{$home-anim-delay + 0.2s} ease-in-out both;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: rgba($white, 0.65);
    strong {
      color: $white;
    }
    .avarik-button {
      .side-right {
        right: -21px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
        width: 100%;
      }
      @media (min-width: 2000px) {
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        &::after {
          bottom: -10px;
        }
        .side-left {
          left: -37px;
        }
        .side-right {
          right: -37px;
        }
      }
    }
  }
  .cover {
    .cover-bg-wrapper {
      animation: zoomInSm 1.5s $home-anim-cover-delay ease(in-out-quart) both;
    }
    .cover-bg {
      height: 100vh !important; // fallback option
      // height: calc(var(--vh, 1vh) * 100) !important;
      animation: cameraPan 30s $home-anim-cover-delay infinite;
      @include media-breakpoint-down(sm) {
        animation: cameraPanFull 50s $home-anim-cover-delay infinite;
      }
    }
  }
}

// Saga
.sc-home-saga {
  position: relative;
  text-align: center;
  height: 750px;
  background-color: $brown-light;
  background-size: cover;
  @include media-breakpoint-down(sm) {
    padding-top: 3.75rem !important;
  }
  @media (min-width: 2000px) {
    height: 950px;
  }
  @media (min-width: 3500px) {
    height: 1250px;
  }
  .kurseye {
    position: absolute;
    top: 1rem;
    right: 1rem;
    animation: float 7.5s infinite ease-in-out;
    width: 125px;
    z-index: 2;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .bug {
    position: absolute;
    top: 2rem;
    left: 1rem;
    animation: float 7.5s infinite ease-in-out;
    animation-delay: 0.5s;
    width: 125px;
    z-index: 2;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .slimey {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: float 7.5s infinite ease-in-out;
    animation-delay: 1s;
    width: 125px;
    z-index: 2;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .border-paper-top {
    position: absolute;
    width: 100%;
    top: -12%;
    left: 0;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      top: -5%;
    }
    @media (min-width: 3500px) {
      top: -20%;
      img {
        width: 100%;

      }
    }
  }
  .border-paper-bottom {
    position: absolute;
    width: 100%;
    bottom: -30%;
    left: 0;
    z-index: 1;
    @include media-breakpoint-down(md) {
      bottom: -10%;
    }
    @include media-breakpoint-down(sm) {
      bottom: -5%;
    }
  }
  .img-saga {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 10%;
    width: 50%;
    z-index: 0;
    @include media-breakpoint-up(xl) {
      height: 100%;
      object-fit: contain;
    }
    @include media-breakpoint-down(md) {
      width: 90%;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    @include media-breakpoint-down(sm) {
      height: 90%;
      align-items: flex-end;
    }
    .title-wrapper {
      // position: absolute;
      width: fit-content;
      left: 0;
      right: 0;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      .title {
        color: $dark;
      }
    }
    .parallax {
      z-index: 2;
    }
    .content {
      position: relative;
      width: 80%;
      padding: 2.5rem 2rem 2.5rem 2rem;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-breakpoint-up(xxl) {
        margin-left: auto;
      }
      @include media-breakpoint-down(lg) {
        padding-top: 1.5rem;
        width: 90%;
      }
      @include media-breakpoint-down(md) {
        padding: 2rem;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 3rem;
      }
      @include media-breakpoint-down(xs) {
        width: 100%;
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .img-paper {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: contain;
        top: -4.5rem;
        left: 0;
        z-index: 0;
        @include media-breakpoint-down(md) {
          width: 100%;
          right: -9rem;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
      p.desc {
        strong {
          color: $black;
        }
        color: $black;
        font-size: 1rem;
        @include media-breakpoint-down(sm) {
          font-size: 0.75rem;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
        @include media-breakpoint-down(xs) {
          font-size: 0.65rem;
        }
        @media (min-width: 2000px) {
          font-size: 1.25rem;
        }
      }
      .avarik-button {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0;
        @include media-breakpoint-up(lg) {
          // .side-left {
          //   left: -29px;
          // }
          // .side-right {
          //   right: -29px;
          // }
        }
        @include media-breakpoint-down(sm) {
          // width: 85%;
          margin-left: auto;
          margin-right: auto;
          width: 175px !important;
          height: 45px;
          padding-left: 0 !important;
          padding-right: 0 !important;
          font-size: 0.75rem;
          .side-left {
            left: -24px;
          }
          .side-right {
            right: -24px;
          }
        }
      }
    }
  }
}

//factions
.sc-home-factions {
  position: relative;
  text-align: center;
  background: $brown-light;
  height: 800px;
  @media (min-width: 1800px) {
    height: 1000px;
  }
  @media (min-width: 2000px) {
    height: 1100px;
  }
  @media (min-width: 3500px) {
    height: 1440px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 3.75rem !important;
    height: fit-content;
  }
  .phoenix {
    position: absolute;
    width: 20%;
    left: 0;
    top: 5rem;
    z-index: 2;
    animation: float 7.5s infinite ease-in-out;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .dragon {
    position: absolute;
    width: 10%;
    right: 0;
    top: 7.5rem;
    z-index: 2;
    animation: float 7.5s infinite ease-in-out;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .wolf {
    position: absolute;
    width: 12%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5rem;
    z-index: 4;
    animation: float 7.5s infinite ease-in-out;
    @media (min-width: 1800px) {
      bottom: 10rem;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .gate {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30%;
    z-index: 3;
    @include media-breakpoint-down(sm) {
      bottom: -17%;
    }
  }
  .heading {
    position: relative;
    z-index: 2;
    .title-wrapper {
      h1 {
        color: $dark;
      }
    }
  }
  p {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .story-factions {
    padding-bottom: 2.5rem;
    @include media-breakpoint-up(md) {
      margin-top: 2.25rem;
      margin-left: auto;
      margin-right: auto;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
    }
    .faction-item {
      z-index: 3;
      cursor: pointer;
      img {
        max-height: 300px;
      }
      h3 {
        @include media-breakpoint-down(sm) {
          font-size: 1rem;
        }
      }
    }
  }
}

//game features
.sc-home-game-features {
  height: 850px;
  margin-top: 7.5rem;
  position: relative;
  padding-top: 5rem;
  @include media-breakpoint-down(sm) {
    height: 600px;
  }
  @media (min-width: 2000px) {
    height: 1000px;
    margin-top: 10rem;
  }
  @media (min-width: 3500px) {
    margin-top: 25rem;
    height: 1250px;
  }
  .separator {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .features-slider {
    .slider-item {
      position: relative;
      width: 100%;
      height: 500px;
      &:not(.active) {
        opacity: 0.5;
      }
      @include media-breakpoint-down(sm) {
        height: 245px;
      }
      .img-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .img-features-slider {
        position: absolute;
        width: 75%;
        height: 75%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        object-fit: contain;
      }
    }
  }
  .arrow {
    position: absolute;
    width: 80px;
    z-index: 2;
    top: 55%;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      top: unset;
      bottom: 20%;
      width: 50px;
    }
    &.left {
      left: 12rem;
      @include media-breakpoint-down(lg) {
        left: 5rem;
      }
    }
    &.right {
      right: 12rem;
      @include media-breakpoint-down(lg) {
        right: 5rem;
      }
    }
  }
}

// advisors
.sc-home-advisors {
  position: relative;
  z-index: 2;
  margin-bottom: -1.25rem;
  // padding-top: 7.5rem !important;
  background: $primary;
  padding-bottom: 40rem !important;
  @include media-breakpoint-down(lg) {
    padding-bottom: 25rem !important;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 15rem !important;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: -1.5rem;
  }
  @include media-breakpoint-up(xxl) {
    padding-bottom: 50rem !important;
  }
  @media (min-width: 2000px) {
    padding-bottom: 55rem !important;
    .container {
      .mw-xl {
        max-width: 100% !important;
      }
      .mw-lg {
        max-width: 85% !important;
      }
    }
  }
  @media (min-width: 3500px) {
    padding-bottom: 70rem;
  }
  .title-wrapper {
    margin-bottom: 5rem;
  }
  .team-item {
    margin-bottom: 1.25rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
    .img-wrapper {
      border: 1px solid rgba($brown-light, 0.5);
      padding: 0.25rem;
      margin-bottom: 0.5rem;
    }
    .title {
      margin-bottom: 0.25rem;
      @include text-truncate-multiline(1);
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
      }
    }
    .text {
      display: block;
      color: $gray-400;
      @include text-truncate-multiline(1);
      font-size: 0.7rem;
    }
    .social {
      margin-top: 0.5rem;
    }
  }
  .col {
    @include media-breakpoint-up(xl) {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

.sc-home-footer {
  background: url("../../img/home/bg_footer.png") center center no-repeat;
  background-size: cover;
  height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10rem;
  z-index: 2;
  padding-top: 5rem;
  @media (min-width: 2000px) {
    height: 850px;
  }
  @media (min-width: 3500px) {
    height: 1250px;
  }
  .separator {
    position: absolute;
    width: 100%;
    left: 0;
    top: -70%;
    @media (min-width: 1800px) {
      top: -110%;
    }
    @include media-breakpoint-down(lg) {
      top: -60%;
    }
    @include media-breakpoint-down(md) {
      top: -40%;
    }
    @include media-breakpoint-down(sm) {
      top: -15%;
    }
    @include media-breakpoint-down(xs) {
      top: -10%;
    }
  }
  .title {
    color: $primary;
    margin-bottom: 0 !important;
    text-align: center;
    white-space: nowrap;
  }
  .description {
    color: $dark;
    text-align: center;
    @media (min-width: 2000px) {
      font-size: 1.25rem;
    }
  }
  .avarik-button {
    .side-left {
      left: -29px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 1rem;
      margin-left: 0;
    }
  }
  .community-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-width: 150px;
    position: relative;
    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }
    &.discord {
      &::after {
        content: "";
        position: absolute;
        width: 150%;
        height: 2px;
        background-color: #a59480;
        right: -125%;
        top: 30%;
        z-index: -1;
        @include media-breakpoint-down(sm) {
          width: 145%;
          right: -115%;
          top: 25%;
        }
      }
    }
    &.read {
      &::after {
        content: "";
        position: absolute;
        width: 150%;
        height: 2px;
        background-color: #a59480;
        right: -127%;
        top: 30%;
        z-index: -1;
        @include media-breakpoint-down(sm) {
          width: 145%;
          top: 25%;
          right: -95%;
        }
      }
    }
    img {
      position: relative;
      width: 100px;
      object-fit: contain;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        width: 75px;
      }
    }
    p {
      text-align: center;
      @media (min-width: 2000px) {
        font-size: 1.25rem;
      }
    }
  }
}
