// modal

.modal-factions {
    position: relative;
    background: transparent;
    max-width: fit-content !important;
    .modal-wrapper {
        background: rgba($black, 0) url("../../img/home/paper-5.png") no-repeat center center;
        background-size: cover;
        width: 100%;
        margin: auto;
        @include media-breakpoint-down(sm) {
            // background: rgba($black, 0) url("../../img/home/paper-4.png") no-repeat center center;
        }
        .close {
            top: 5rem;
            right: 4rem;
            @include media-breakpoint-down(sm) {
                top: 2rem;
                right: 1rem;
            }
        }
        .modal-content {
            background: rgba($black, 0);
            // background-size: cover;
            padding: 10rem 8rem !important;
            @include media-breakpoint-down(sm) {
                padding: 1rem !important;
            }
            .heading {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 0;
                    margin-top: 2.5rem;
                }
            }
            .col-img {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm) {
                    align-items: center;
                    justify-content: flex-end;
                }
                img {
                    max-height: 350px;
                    object-fit: contain;
                    @include media-breakpoint-down(sm) {
                        max-width: 65%;
                    }
                }
            }
            .col-text {
                text-align: left;
                .description {
                    font-size: 1.1rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.75rem;
                        width: 95%;
                    }
                }
                .avarik-button {
                    width: 90%;
                    text-align: center;
                    &::after {
                        left: 0;
                    }
                }
            }
            .avarik-button {
                .side-left {
                    left: -29px;
                }
                .side-right {
                    right: -29px;
                }
                @include media-breakpoint-down(sm) {
                    // width: 85%;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 2rem;
                    width: 175px;
                    height: 45px;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    font-size: 0.75rem;
                    .side-left {
                        left: -24px;
                    }
                    .side-right {
                        right: -24px;
                    }
                }
            }
        }
    }
}

.modal-classes {
    position: relative;
    background: transparent;
    max-width: fit-content !important;
    @include media-breakpoint-down(sm) {
        h5,
        h1 {
            font-size: 0.875rem;
        }
    }
    .modal-wrapper {
        background: rgba($black, 0) url("../../img/home/paper-5.png") no-repeat center center;
        background-size: cover;
        width: 100%;
        margin: auto;
        .close {
            top: 2rem;
            right: 5rem;
            @include media-breakpoint-down(sm) {
                top: 3rem;
                right: 1rem;
            }
        }
        .modal-content {
            background: rgba($black, 0);
            // background-size: cover;
            padding: 5rem 8rem !important;
            @include media-breakpoint-down(sm) {
                padding: 2rem !important;
            }
            .heading {
                .title {
                    color: $black;
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: 0;
                    margin-top: 2rem;
                }
            }

            .modal-class-tabs-wrapper {
                &::before {
                    height: 0;
                }
                > div {
                    width: 100%;
                    .modal-class-tabs {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .nav-item {
                            width: 25%;
                            .nav-link {
                                text-align: center;
                                &.active {
                                    background-color: rgba($white, 0);
                                    font-weight: $font-weight-bold;
                                    color: $black;
                                    &::before {
                                        background: url("../../img/common/tabs-line-active.png") no-repeat center center;
                                        background-size: contain;
                                        height: 10px;
                                    }
                                }
                                &::before {
                                    background: url("../../img/common/tabs-line.png") no-repeat center center;
                                    background-size: contain;
                                    height: 10px;
                                }
                                padding: 1.25rem 0;
                            }
                        }
                    }
                }
            }
            .col-img {
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm) {
                    align-items: flex-start;
                }
                img {
                    max-height: 350px;
                    object-fit: contain;
                }
            }
            .col-text {
                text-align: left;
                .description {
                    @include media-breakpoint-up(md) {
                        &.squire,
                        &.swordman,
                        &.knight {
                            margin-bottom: 3.5rem;
                        }
                        &.archer,
                        &.marksman,
                        &.fletcher {
                            margin-bottom: 3.75rem;
                        }
                    }
                    font-size: 1.1rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.85rem;
                        margin-bottom: 0;
                    }
                }
                .icon-faction {
                    width: 75px;
                    object-fit: contain;
                }
            }
        }
    }
}
