// modal

.modal-factions {
    position: relative;
    background: transparent;
    max-width: fit-content !important;
    .img-char-mobile {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        height: 100%;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .img-char-mobile {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            .img-char-top {
                position: absolute;
                top: unset;
                bottom: 0;
                width: 100px;
                object-fit: contain;
                &.left-1 {
                    left: 90px;
                    transform: scaleX(-1);
                }
                &.left-2 {
                    left: 0;
                    transform: scaleX(-1);
                }
                &.right-1 {
                    right: 90px;
                }
                &.right-2 {
                    right: 0;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &.Ignis {
            .modal-wrapper {
                background: rgba($black, 0) url("../../img/home/ignis.png") no-repeat center center;
                background-size: contain;
            }
        }
        &.Terra {
            .modal-wrapper {
                background: rgba($black, 0) url("../../img/home/terra.png") no-repeat center center;
                background-size: contain;
            }
        }
        &.Tenebris {
            .modal-wrapper {
                background: rgba($black, 0) url("../../img/home/tenebris.png") no-repeat center center;
                background-size: contain;
            }
        }
        &.Glacia {
            .modal-wrapper {
                background: rgba($black, 0) url("../../img/home/glacia.png") no-repeat center center;
                background-size: contain;
            }
        }
    }
    .modal-wrapper {
        background-size: contain;
        margin: auto;
        @include media-breakpoint-down(sm) {
            background: rgba($black, 0) url("../../img/common/paper-6.png") no-repeat center center;
            background-size: contain;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        .close {
            top: 25%;
            right: 25%;
            color: $dark;
            @include media-breakpoint-down(sm) {
                top: 3rem;
                right: 27%;
            }
            @include media-breakpoint-down(xs) {
                top: 3rem;
                right: 25%;
            }
            @media (max-width: 450px) {
                right: 10%;
                & {
                    @media (max-height: 850px) {
                        top: 5rem;
                    }
                }
            }
            @media (min-width: 2000px) {
                right: 31%;
            }
        }
        .modal-content {
            position: relative;
            background: rgba($black, 0);
            padding: 17.5rem 7.5rem 17.5rem 7.5rem !important;
            @include media-breakpoint-up(xxl) {
                padding-left: 20rem !important;
                padding-right: 20rem !important;
            }
            .img-flag {
                position: absolute;
                top: -10%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                width: 10%;
                object-fit: contain;
                @include media-breakpoint-down(sm) {
                    top: -5%;
                    width: 20%;
                }
                @include media-breakpoint-down(xs) {
                    width: 35%;
                }
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
            .img-char-top {
                position: absolute;
                top: -100px;
                width: 115px;
                object-fit: contain;
                @include media-breakpoint-down(md) {
                    top: -75px;
                }
                &.left-1 {
                    left: 35%;
                    transform: scaleX(-1);
                    @include media-breakpoint-down(xl) {
                        left: 30%;
                    }
                    @include media-breakpoint-down(md) {
                        left: 25%;
                    }
                }
                &.left-2 {
                    left: calc(35% - 115px);
                    transform: scaleX(-1);
                    @include media-breakpoint-down(xl) {
                        left: calc(30% - 115px);
                    }
                    @include media-breakpoint-down(md) {
                        left: calc(25% - 115px);
                    }
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
                &.right-1 {
                    right: 35%;
                    @include media-breakpoint-down(xl) {
                        right: 30%;
                    }
                    @include media-breakpoint-down(md) {
                        right: 25%;
                    }
                }
                &.right-2 {
                    right: calc(35% - 115px);
                    @include media-breakpoint-down(xl) {
                        right: calc(30% - 115px);
                    }
                    @include media-breakpoint-down(md) {
                        right: calc(25% - 115px);
                    }
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 15rem 2.5rem 5rem 2.5rem !important;
            }
            .content {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                position: relative;
                @include media-breakpoint-down(xs) {
                    width: 80%;
                }
                .description {
                    font-size: 1rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}
