//
// Lite Paper
//

.bd-litepaper {
  &:after {
    content: "";
    background: $purple url(../../img/common/bg_mint.jpg) no-repeat center
      center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    animation: fadeInUp 1s 0.4s ease-in-out both;
  }
  .navbar,
  footer {
    display: none;
  }
}
