.sc-teams-main {
    position: relative;
    z-index: 2;
    padding-bottom: 35rem;
    background: #6b5641;
    padding-top: $navbar-main-height-mobile;
    @include media-breakpoint-up($navbar-expand-up) {
        padding-top: $navbar-main-height-desktop;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 15rem;
    }
    .team-item {
        margin-bottom: 1.25rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 1.5rem;
        }
        .img-wrapper {
            border: 1px solid rgba($white, 0.5);
            padding: 0.25rem;
            margin-bottom: 0.5rem;
        }
        h6 {
            color: $white;
            margin-bottom: 0.25rem;
            @include text-truncate-multiline(1);
            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
            }
        }
        small {
            display: block;
            color: $gray-400;
            @include text-truncate-multiline(1);
            @include media-breakpoint-down(sm) {
                font-size: 0.7rem;
            }
        }
        .social {
            margin-top: 0.5rem;
        }
    }
    .col {
        @include media-breakpoint-up(xl) {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}
