//
// Vortem
//
.sc-vortem-cover {
  position: relative;
  z-index: 0;
  .cover {
    height: 650px;
    @include media-breakpoint-down(sm) {
      height: 750px;
    }
    .react-parallax-content {
      height: 100%;
    }
  }
  .separator {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
    .col-text {
      // @include media-breakpoint-up(md) {
      //   margin-right: 4rem;
      // }
      // @include media-breakpoint-up(lg) {
      //   margin-right: 6rem;
      // }
      p {
        color: $white;
        margin-bottom: 0.5rem;
        text-align: center;
        @include media-breakpoint-down(sm) {
          margin-bottom: 2.5rem;
        }
      }
      .title-wrapper {
        width: 80%;
        h1 {
          color: $white;
          text-align: center;
          @include media-breakpoint-up(md) {
            font-size: 3rem;
          }
        }
      }
    }
    .col-img {
      img {
        width: 200px;
        @include media-breakpoint-up(md) {
          width: 200px;
        }
        @include media-breakpoint-up(lg) {
          width: 275px;
        }
      }
    }
  }
}

.sc-vortem-claim {
  background: $brown-light;
  position: relative;
  // background: url("../../img/vortem/bg_claim.png") center center no-repeat;
  // background-size: cover;
  .bg {
    position: absolute;
    width: 100%;
    height: 110%;
    object-fit: cover;
    top: -10%;
    left: 0;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      top: -5%;
      height: 105%;
    }
    @include media-breakpoint-up(xl) {
      object-fit: fill;
    }
  }
  .img-ornamen {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }
  .title-wrapper {
    z-index: 2;
  }
  .col-item {
    z-index: 2;
    .img-icon {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      @include media-breakpoint-down(lg) {
        width: 70%;
      }
      @include media-breakpoint-down(md) {
        width: 40%;
      }
      @include media-breakpoint-down(sm) {
        width: 50%;
      }
      @include media-breakpoint-down(xs) {
        width: 60%;
      }
    }
    .claim-card {
      position: relative;
      width: 100%;
      min-height: 375px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 3rem;
      padding-top: 4rem;
      @include media-breakpoint-down(lg) {
        padding: 2rem;
        padding-top: 4rem;
      }
      @include media-breakpoint-down(md) {
        padding-top: 5rem;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 5rem;
        min-height: 275px;
      }
      .claim-number {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
      }
      .hr {
        z-index: 1;
        width: 90%;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md) {
          width: 60%;
        }
      }
      h5 {
        z-index: 1;
        text-align: center;
        @include media-breakpoint-down(md) {
          font-size: 1.5rem;
        }
      }
      p {
        text-align: center;
        @include media-breakpoint-down(md) {
          font-size: 1.25rem;
          max-width: 50%;
        }
        @include media-breakpoint-down(xs) {
          max-width: 100%;
        }
      }
      ul {
        z-index: 1;
        li {
          @include media-breakpoint-down(md) {
            font-size: 1.25rem;
          }
          @include media-breakpoint-down(xs) {
            width: 90%;
          }
        }
      }
    }
  }
}

.sc-vortem-hold-to-earn {
  position: relative;
  height: 800px;
  .coin-1 {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 100px;
    z-index: 1;
    animation: float 2s infinite ease-in-out 0s;
    @include media-breakpoint-down(md) {
      top: 5%;
      left: 5%;
    }
  }
  .coin-2 {
    position: absolute;
    top: -2.5rem;
    right: 10rem;
    z-index: 1;
    width: 100px;
    animation: float 2s infinite ease-in-out 0.5s;
    @include media-breakpoint-down(md) {
      right: 5%;
    }
    @include media-breakpoint-down(xs) {
      top: -5rem;
    }
  }
  .coin-3 {
    position: absolute;
    right: 10rem;
    bottom: 0;
    z-index: 1;
    width: 125px;
    animation: float 2s infinite ease-in-out 1s;
    @include media-breakpoint-down(md) {
      right: 5%;
    }
  }
  .bg {
    width: 100%;
    height: 800px;
    .react-parallax-content {
      height: 100%;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .col-img {
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      order: 1;
    }
    > img {
      width: 100%;
      object-fit: contain;
      animation: float 10s infinite ease-in-out 1.25s;
      @include media-breakpoint-up(lg) {
        width: 90%;
      }
    }
  }
  .col-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(sm) {
      order: 2;
    }
    @include media-breakpoint-up(md) {
      justify-content: center;
      align-items: flex-start;
    }
  }
  p {
    text-align: center;
    font-size: 1rem;
    @include media-breakpoint-up(md) {
      text-align: left;
      margin-bottom: 0.5rem;
    }
  }
  .heading {
    img {
      width: 150px;
      @include media-breakpoint-up(md) {
        width: 200px;
      }
    }
  }
  .avarik-button {
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
}
