.sc-weapons-main {
    height: 100vh !important; // fallback option
    height: calc(var(--vh, 1vh) * 100) !important;
    background-size: cover !important;
    transition: all 0.5s;
    position: relative;
    transition: all 0.5s ease;
    background: url("../../img/weapon/weapon-bg.png") no-repeat center center;
    position: relative;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    @include media-breakpoint-down(lg) {
        height: fit-content !important;
    }
    .container {
        .col-text {
            position: relative;
            text-align: center;
            padding: 3rem 3rem;
            @include media-breakpoint-down(sm) {
                padding: 1rem;
            }
            .title-wrapper {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
                .left,
                .right {
                    width: 15%;
                    object-fit: contain;
                }
                .logo {
                    position: absolute;
                    width: 25%;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }
                h1 {
                    margin-bottom: 0;
                }
            }
        }
        .col-img {
            position: relative;
            width: 100%;
            @include media-breakpoint-down(sm) {
                margin-top: -2.5rem;
            }
            .img-book {
                position: absolute;
                width: auto;
                height: 350px;
                object-fit: contain;
                left: 0;
                right: 0;
                top: 0;
                margin-left: auto;
                margin-right: auto;
            }
            .book-slider {
                .slick-slide {
                    .book-wrapper {
                        display: flex !important;
                        width: 80% !important;
                        height: 350px;
                        margin-left: auto;
                        margin-right: auto;
                        @include media-breakpoint-down(lg) {
                            width: 90% !important;
                        }
                        @include media-breakpoint-down(sm) {
                            width: 100% !important;
                        }
                        > .col-text {
                            color: $white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 0;
                            padding-left: 3.5rem;
                            padding-right: 1.5rem;
                            @include media-breakpoint-down(md) {
                                padding-left: 2.85rem;
                                padding-top: 2rem;
                                p {
                                    font-size: 0.875rem;
                                }
                            }
                            @include media-breakpoint-down(sm) {
                                padding: 2rem 1rem 0 1.75rem;
                                p {
                                    font-size: 0.65rem;
                                }
                            }
                            .title-wrapper {
                                .logo {
                                    width: 10%;
                                    top: -1.75rem;
                                    @include media-breakpoint-down(sm) {
                                        top: -1.5rem;
                                    }
                                }
                                h4 {
                                    margin-bottom: 0;
                                }
                                @include media-breakpoint-down(md) {
                                    margin-bottom: 0.5rem;
                                }
                            }
                        }
                        > .col-img {
                            padding: 1rem 1rem 2rem 1rem;
                            display: flex;
                            align-items: center;
                            margin: 0 !important;
                        }
                    }
                }
                .slick-prev,
                .slick-next {
                    top: 117.5%;
                    z-index: 2;
                    @include media-breakpoint-down(md) {
                        top: 115%;
                    }
                    @include media-breakpoint-down(sm) {
                        top: 100%;
                    }
                }
                .slick-prev {
                    left: 25%;
                    @include media-breakpoint-down(md) {
                        left: 15%;
                    }
                    @include media-breakpoint-down(sm) {
                        left: 5%;
                    }
                }
                .slick-next {
                    right: 25%;
                    @include media-breakpoint-down(md) {
                        right: 15%;
                    }
                    @include media-breakpoint-down(sm) {
                        right: 5%;
                    }
                }
                .slick-dots {
                    text-align: center;
                    bottom: -25%;
                    margin-top: 2rem;
                    @include media-breakpoint-down(md) {
                        bottom: -22%;
                    }
                    @include media-breakpoint-down(sm) {
                        width: 100% !important;
                        bottom: -7%;
                    }
                    li {
                        width: 70px;
                        position: relative;
                        .overlay-hover {
                            position: absolute;
                            width: 100px;
                            height: 100px;
                            border-radius: 100%;
                            left: -0.5rem;
                            top: -3.5rem;
                            transition: all 0.5s ease;
                            background: radial-gradient(
                                circle at center,
                                $orange-light 10%,
                                rgba(255, 255, 255, 0) 60%
                            );
                            z-index: 0;
                            opacity: 0;
                        }
                        &:hover {
                            .overlay-hover {
                                opacity: 1;
                            }
                        }
                        button {
                            .dots-img {
                                display: block;
                                width: 70px;
                                height: 70px;
                                position: absolute;
                                bottom: -50%;
                                border-radius: 100%;
                            }
                            &::before {
                                content: "";
                                width: 0;
                                height: 0;
                                opacity: 0;
                            }
                        }
                        &.slick-active {
                            .overlay-hover {
                                opacity: 1;
                                animation: float 2s infinite ease-in-out 0s;
                            }
                            button {
                                .dots-img {
                                    animation: float 2s infinite ease-in-out 0s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
