.sc-weapons-main {
    height: 100vh !important; // fallback option
    height: calc(var(--vh, 1vh) * 100) !important;
    background-size: cover !important;
    transition: all 0.5s;
    position: relative;
    transition: all 0.5s ease;
    background: url("../../img/weapon/weapon-bg.jpeg") no-repeat center center;
    position: relative;
    &:after {
        content: "";
        @include gradient-y-to-top($black, rgba($black, 0), 5%, 100%);
        position: absolute;
        width: 100%;
        height: 20%;
        z-index: 0;
        bottom: 0;
        left: 0;
        @include media-breakpoint-down(sm) {
            height: 75%;
        }
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .row {
            margin-top: -10rem;
            @include media-breakpoint-down(sm) {
                margin-top: 3rem;
            }
            .col-text {
                width: 40%;
                .label {
                    color: $orange-light;
                }
                .title,
                .description {
                    color: $white;
                }
                .title {
                    font-size: 2.5rem;
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    order: 1;
                    margin-bottom: -15rem;
                    z-index: 1;
                }
            }
            .col-img {
                display: flex;
                justify-content: center;
                position: relative;
                @include media-breakpoint-down(sm) {
                    order: 0;
                    margin-top: -15rem;
                }
                .character {
                    position: absolute;
                    top: -15%;
                    right: 10%;
                    z-index: 0;
                    transition: all 0.5s ease;
                    max-height: 400px !important;
                    @include media-breakpoint-down(sm) {
                        margin-bottom: -7.5rem;
                        z-index: 0;
                        max-height: 300px !important;
                    }
                }
            }
        }
        .row-indicator {
            position: absolute;
            bottom: 2.5rem;
            width: 90%;
            justify-content: center;
            @include media-breakpoint-down(sm) {
                width: 95%;
                bottom: 1.5rem;
                z-index: 2;
            }
            .indicator-img {
                width: 75px;
                object-fit: contain;
                @include media-breakpoint-down(sm) {
                    width: 65px;
                }
            }
            @include media-breakpoint-down(sm) {
                .avarik-cards {
                    padding: 0.5rem 1.5rem;
                    width: auto;
                    p {
                        font-size: 0.75rem;
                    }
                    // height: auto;
                }
            }
        }
    }
}
