.avarik-cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .img-wrapper {
        position: relative;
        .overlay-img {
            position: absolute;
            top: -20%;
            left: -20%;
            width: 140%;
            height: 140%;
            border-radius: 100%;
            opacity: 0;
            transition: all 1s ease;
            background: radial-gradient(circle at center, $orange-light 10%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &:hover {
        .overlay-img {
            opacity: 1;
        }
        .avarik-cards {
            .overlay-hover {
                width: 100%;
            }
            .overlay {
                opacity: 0;
            }
            p {
                font-weight: $font-weight-bold;
            }
        }
    }
    .avarik-cards {
        width: 275px;
        height: 50px;
        padding: 0.5rem 4rem;
        position: relative;
        background: url("../../../assets/img/common/bg_card-avarik.png") center center no-repeat;
        background-size: cover;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 1s ease;
        .overlay-hover {
            position: absolute;
            width: 100%;
            height: 38px;
            left: 0;
            top: 5px;
            transition: all 0.5s ease;
            width: 0;
            background: linear-gradient(
                270deg,
                rgba(241, 181, 101, 0) 0%,
                $orange-light 50.32%,
                rgba(241, 181, 101, 0) 100%
            );
            z-index: 2;
        }
        .overlay {
            z-index: 1;
            transition: all 0.5s ease;
            position: absolute;
            width: 100%;
            height: 40px;
            left: 0;
            top: 5px;
            background: linear-gradient(
                270deg,
                rgba(255, 255, 255, 0) 5.67%,
                rgba(136, 128, 128, 0.9) 50.42%,
                rgba(255, 255, 255, 0) 94.6%
            );
        }
        p {
            transition: all 0.5s ease-in-out;
            margin: auto !important;
            font-weight: $font-weight-normal;
            text-align: center;
            z-index: 3;
            font-size: 1rem;
        }
    }
}
