// ========================================================================================================================================
// Buttons - Custom
// ========================================================================================================================================

// ==========================================================================
// Hover Color
// ==========================================================================

// Set hover darken color (in %)
$btn-hover-bg-darken-custom: $btn-hover-bg-darken; // EDIT THIS AS NEEDED (Default: 5%)

@each $color,
$value in $theme-colors {
  .btn-outline-#{$color} {
    @include hover-focus {
      background-color: darken($value, $btn-hover-bg-darken-custom);
      border-color: darken($value, $btn-hover-bg-darken-custom);
    }
  }

  .btn-#{$color} {
    @include hover-focus {
      background-color: darken($value, $btn-hover-bg-darken-custom);
      border-color: darken($value, $btn-hover-border-darken);
    }
  }
}

// ==========================================================================
// Hover Effect
// ==========================================================================

// Toggle hover block right effect for filled & outline buttons
//
// .btn:not(.btn-link) {
//   @include hover-blockRight;
// }

// Toggle hover underline effect for link buttons
.btn-link {
  @extend .hover-underline;

  &:before {
    bottom: 0.5rem; // underline effect position (default: 0)
  }
}

// ==========================================================================
// General
// ==========================================================================

.btn {
  font-family: $headings-font-family;
  text-transform: lowercase;
}

.btn-outline-white {

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    background: rgba($white, 0.5);
  }

  &:before {
    left: 0.25rem;
  }

  &:after {
    right: 0.25rem;
  }

  &:hover(not:disabled) {

    &:before,
    &:after {
      background: $black;
    }
  }
}