// ░█▀▀▄ ░█▀▀▀█ 　 ░█▄─░█ ░█▀▀▀█ ▀▀█▀▀ 　 ░█▀▀▀ ░█▀▀▄ ▀█▀ ▀▀█▀▀
// ░█─░█ ░█──░█ 　 ░█░█░█ ░█──░█ ─░█── 　 ░█▀▀▀ ░█─░█ ░█─ ─░█──
// ░█▄▄▀ ░█▄▄▄█ 　 ░█──▀█ ░█▄▄▄█ ─░█── 　 ░█▄▄▄ ░█▄▄▀ ▄█▄ ─░█──
// Override style on .loader-custom.scss instead
// unless you want to upgrade the component version

// ========================================================================================================================================
// Loader
// ========================================================================================================================================

.loader {
  @include position(fixed, 0, 0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-lottie {
    width: 100px !important;
    @include media-breakpoint-up(md) {
      width: 200px !important;
    }
  }
  // Theme
  &.loader-light {
    background: $light;
    .img-spinner {
      border: 2px solid $gray-100;
      border-top: 2px solid $gray-400;
    }
  }
  &.loader-dark {
    background: $dark;
    .img-spinner {
      border: 2px solid $gray-800;
      border-top: 2px solid $white;
    }
  }
}

// Loader v2
// .loader-wrapper {
//   @include position(fixed, 0, 0, 0, 0);
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   img {
//     height: 18px;
//     display: block;
//   }
//   &.light {
//     background: $white;
//   }
//   &.dark {
//     background: $dark;
//   }
// }

.loader {
  &.loader-logo {
    .img-brand {
      height: 25px;
      display: block;
      visibility: hidden; // Prevent flashing element
      animation: loaderLogo 2s 0.5s ease-in-out both;
    }
  }
  &.loader-spinner {
    .img-spinner {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear;
      animation-iteration-count: infinite;
    }
  }
  &.fadeOut {
    animation: fadeOut 1s 2.5s ease-in-out both;
  }
  &.slideUp {
    animation: loaderSlideOutUp 1s 2.5s ease(in-out-quart) both;
  }
}

@keyframes loaderLogo {
  from {
    visibility: visible;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loaderSlideOutUp {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
